.Myworks_page {
  background-color: black;
  width: 100%;
  height: 100vh;
  padding: 6% 0px;
}
.Myworks_page_layout {
  border-radius: 15px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.Myworks_page_layout_top {
  height: 15%;
  width: 100%;
  text-align: center;
  color: #fafafa;
  font-size: 2.4rem;
}
.Myworks_page_layout_bottom {
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px;
  width: 100%;
  height: 100%;
  float: left;
}
.Myworks_page_layout_bottom::-webkit-scrollbar {
  width: 5px;
}
.Myworks_page_layout_bottom_filter {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  height: 15%;
  width: 100%;
}
.default_button {
  background-color: #fafafa;
  border: #fafafa 1px solid;
  border-radius: 5px;
  color: black;
  margin: 5px;
  text-align: center;
  width: 100px;
  height: 40px;
}
.active {
  border: black 1px solid;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  height: 40px;
  background-color: black;
  color: #fafafa;
}
.Myworks_page_layout_bottom_filter button:hover {
  background-color: black;
  color: #fafafa;
}

.Myworks_page_layout_bottom_card {
  background-color: #252525;
  border-radius: 8px;
  margin: 5px 20px 5px 20px;
  width: 300px;
  height: 340px;
  float: left;
}
.work_card_title {
  color: #fafafa;
  text-align: center;
  font-size: 26px;
  margin: 5px;
}
.work_card_image {
  margin: 10px auto;
  width: 210px;
  height: 170px;
}
.work_card_image img {
  border-radius: 5px;
  width: 210px;
  height: 170px;
}
.work_card_desc {
  padding: 8px;
  color: #fafafa;
  margin: 0 20px;
  text-align: justify;
}
.work_card_link_demo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.work_card_link {
  color: #fafafa;
  font-size: 22px;
  margin: 10px 20px;
}
.work_card_link a {
  color: #fafafa;
  text-decoration: none;
}
.work_card_link a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.work_card_link img {
  width: 20px;
  height: 20px;
}
.work_card_demo {
  color: #fafafa;
  font-size: 22px;
  margin: 10px 20px;
}
.work_card_demo a {
  color: #fafafa;
  text-decoration: none;
}
.work_card_demo a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.work_card_demo img {
  width: 20px;
  height: 20px;
}
